.hero-video{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.bg-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.5);
}

.hero-content{
    position: relative;
    z-index: 2;
    text-align: center;
    top: 40%;
    color: white;
    padding: 0;
    font-family: "Michroma", sans-serif;
}
section{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.section-title{
    font-size: 2.5 rem;
    margin-bottom: 40px;
    text-align: center;
    color: aqua;
    font-family: "Michroma", sans-serif;

}
.nav-link:hover{
    color: aqua;
}

.cardResena{
background-color: grey;
}

.cardResena img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.section-titles{
    font-size: 2.5 rem;
    margin-bottom: 40px;
    text-align: center;
    color: aqua;
    font-family: "Press Start 2P", system-ui;
}

.cardEntrevista{
    background-color: rgba(118, 122, 122, 0.966);
}

.cardEntrevista img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
